.contact {
  margin-left: 260px;
  padding: 40px;
  background-color: #dfe6e9;
  color: #2d3436;
  height: 100vh;
  overflow-y: auto;
}

.contact h1 {
  color: #6c5ce7;
  font-size: 3em;
  margin-bottom: 20px;
}

.contact p {
  font-size: 1.2em;
  color: #2d3436;
}
