.home {
  margin-left: 260px; /* Adjust according to the width of your sidebar */
  padding: 40px;
  background-color: #dfe6e9;
  color: #2d3436;
  height: 100vh;
  overflow-y: auto;
}

.home h1 {
  color:#89288f;
  font-size: 3em;
  margin-bottom: 20px;
}

.home p {
  font-size: 1.2em;
  color: #2d3436;
}
